*{
  padding: 0%;
  margin: 0%;
}

@font-face{
  font-family: "Free Mono";
  src: url(/usr/share/fonts/truetype/freefont/FreeMonoBold.ttf);
}

.header  {
  font-family: 'Free Mono', serif;
  background: papayawhip;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  padding-left: 1%;
  padding-right: 4%;
  margin: 1%;
}

.logo {
  font-size: 48px;
  font-weight:900;
  color: tomato;
  background-color: white;
  padding: 4px 32px;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  display: flex;
  gap: 7%;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /*padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}

a:visited{
  color: blue;
}